<div>
  <mat-card>
    <form (submit)='onSignUp(signUpForm)' #signUpForm="ngForm">
      <mat-form-field>
        <input matInput type="text" name="firstName" ngModel required text placeholder="first name"
          #fsNameInput="ngModel">
        <mat-error *ngIf="fsNameInput.invalid">"enter First Name"</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="lastName" ngModel required text placeholder="last name"
          #lsNameInput="ngModel">
        <mat-error *ngIf="lsNameInput.invalid">"enter Last Name"</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" name="email" ngModel required email placeholder="e-mail" #emailInput="ngModel">
        <mat-error *ngIf="emailInput.invalid">"please enter valid email"</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" (change)="onFileChanged($event)" name="phNumber" ngModel matInput placeholder="phone number" #phNumberInput="ngModel"
          required>
        <mat-error *ngIf="phNumberInput.invalid">"enter Phone Number"</mat-error>
      </mat-form-field>
      <label class="custom-file-upload">
        <input id="photo" type="file" />
        <button (click)="upload()">Upload!</button>
      </label>
      <button mat-raised-button color="accent" type="submit">CREATE</button>
    </form>
  </mat-card>
</div>
